.racing
  display: flex
  height: 300px
  position: relative

.racing__grid
  background: blue
  float: left
  height: 100%;
  width: 70px

.racing__track
  background: green
  flex: 1
  height: 100%
  position: relative

.racing__car
  background: yellow
  height: 50px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 100%
  width: 60px
